---
import { Dropdown } from '@astro-bryceguy/dropdown';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body class="font-sans min-h-screen flex flex-col justify-center items-center gap-3 mb-28 p-5 justify-center [&>h2]:mt-7 [&>h2]:text-2xl [&>h2]:font-bold">
		<h2>Default style</h2>
		<Dropdown open={true} lock={true} text="Recursive Test" theme="inline">
			<a href="/">Link 1</a>
			<a href="/">Link 2</a>
			<a href="/">Link 3</a>
			<Dropdown open={true} text="Dropdown 2" theme="inline">
				<a href="/">Link 1</a>
				<a href="/">Link 2</a>
				<a href="/">Link 3</a>
				<Dropdown open={true} force={true} text="Dropdown 3" theme="inline">
					<a href="/">Link 1</a>
					<a href="/">Link 2</a>
					<a href="/">Link 3</a>
				</Dropdown>
				<div tabindex="2">
					<p tabindex="0">Lorem ipsum dolor sit amet consectetur</p>
					<p tabindex="0">Lorem ipsum dolor sit amet consectetur</p>
				</div>
			</Dropdown>
			<div></div>
		</Dropdown>
		<Dropdown open={true} lock={true} id="default-input" text="Input" value="option-1" options={{'Option 1': 'option-1', 'Option 2': 'option-2', 'Option 3': 'option-3', 'Option 4': 'option-4', 'Option 5': 'option-5'}} ></Dropdown>
		<Dropdown collapse={false}  is="div" id="default-text" text="Hidden Text">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non commodi repellat officiis dolorum quis magnam pariatur saepe dignissimos veniam? Perspiciatis culpa autem id vitae ducimus odit exercitationem commodi eos dolorum, magni, quos facilis repellat optio maxime sunt blanditiis similique architecto provident magnam illum. Eum quidem soluta pariatur vero, enim architecto?</p>
		</Dropdown>
		<h2>Inline theme</h2>
		<Dropdown theme='inline' id="inline-navigation" text="Inline Navigation">
			<a href="/">Link 1</a>
			<a href="/">Link 2</a>
			<a href="/">Link 3</a>
			<div tabindex="0">Div<span tabindex="0">Span</span><p tabindex="0">P</p></div>
		</Dropdown>
		<Dropdown lock={true} theme='inline' id="inline-input" text="Inline Input" value="option-1" options={{'Option 1': 'option-1', 'Option 2': 'option-2', 'Option 3': 'option-3', 'Option 4': 'option-4', 'Option 5': 'option-5'}} >
		</Dropdown>
		<Dropdown collapse={false}  theme='inline' is="div" id="inline-text" text="Inline Hidden Text">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat nisi quas ratione ducimus dolor, culpa dolore quibusdam dolores. Earum nostrum vel excepturi soluta accusantium?</p>
		</Dropdown>
		<h2>Tailwind Theme</h2>
        <Dropdown id="tailwind-hamburger" theme="tailwindHamburger">
			<a href="/">Home</a>
			<a href="/">Products</a>
			<a href="/">Services</a>
			<a href="/">About</a>
			<a href="/">Contact Us</a>
		</Dropdown>
		<Dropdown theme="tailwind" id="tailwind-navigation" text="Tailwind Navigation">
			<a href="/">Link 1</a>
			<a href="/">Link 2</a>
			<a href="/">Link 3</a>
		</Dropdown>
		<Dropdown lock={true} theme="tailwind" id="tailwind-input" text="Tailwind Input" value="option-1" options={{'Option 1': 'option-1', 'Option 2': 'option-2', 'Option 3': 'option-3', 'Option 4': 'option-4', 'Option 5': 'option-5'}} >
		</Dropdown>
		<Dropdown theme="tailwind" collapse={false} is="div" id="tailwind-text" text="Tailwind Hidden Text">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non commodi repellat officiis dolorum quis magnam pariatur saepe dignissimos veniam? Perspiciatis culpa autem id vitae ducimus odit exercitationem commodi eos dolorum, magni, quos facilis repellat optio maxime sunt blanditiis similique architecto provident magnam illum. Eum quidem soluta pariatur vero, enim architecto?</p>
		</Dropdown>
        <h2>Custom Theme</h2>
        <Dropdown id="custom-hamburger" theme={{
			container: {
				class: 'group flex items-center',
			},
			toggle: {
				class: "relative flex items-center gap-1 px-2 pt-1 pb-0.5 rounded-md border-2 border-rose-300 select-none leading-none whitespace-nowrap text-lg text-rose-300 marker:content-none before:inline-block before:leading-none before:font-mono before:text-3xl before:content-['☰'] focus-visible:outline-none focus:border-[3px] group-open:border-[3px]"
			},
			content: {
				class: 'text-center z-10 overflow-hidden absolute flex flex-col justify-start mt-1 rounded-md bg-white border-2 border-rose-300 text-rose-800 [&>*]:px-2 [&>*]:py-0.5 focus-within:border-[3px] focus-within:[&>*]:outline-none hover:[&>*]:bg-rose-50 focus:[&>*]:bg-rose-50'
			},
			options: {}
		}}>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Home</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Products</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Services</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">About</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Contact Us</a>
		</Dropdown>
		<Dropdown id="custom-nav" text="Settings" theme={{
			container: {
				class: 'group flex items-center',
			},
			toggle: {
				class: "relative flex items-end gap-1 px-3 py-1 rounded-sm border-2 select-none leading-none whitespace-nowrap text-lg marker:content-none after:inline-block after:leading-none after:font-mono after:font-bold after:text-sm after:content-['...'] focus-visible:outline-none focus:border-fuchsia-800 group-open:after:animate-pulse"
			},
			content: {
				class: 'z-10 absolute flex flex-col justify-start mt-1 rounded-sm bg-white border-2 border-gray-100 focus-within:border-fuchsia-800 focus-within:[&>*]:outline-none hover:[&>*]:bg-gray-100 focus:[&>*]:bg-gray-100'
			},
			options: {
				class: 'overflow-hidden px-2 py-0.5 hover:bg-neutral-100 text-left'
			}
		}}>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Account</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Schedule</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">General</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Files</a>
			<a href="/" class="px-2 py-0.5 hover:bg-gray-50">Theme</a>
		</Dropdown>
        <Dropdown open={true} collapse={false} is="section" id="custom-text" text="Hidden Textbox" theme={{
			container: {
				class: 'group flex items-center w-6/12',
			},
			toggle: {
				class: "flex items-center gap-1 px-2 pt-0.5 pb-1 bg-fuchsia-800 rounded-md group-open:rounded-t-md group-open:rounded-b-none select-none leading-none whitespace-nowrap text-white text-xl marker:content-none before:inline-block before:leading-none before:font-mono before:font-bold before:content-['>'] focus-visible:outline-none group-open:before:rotate-90"
			},
			content: {
				class: 'flex flex-col justify-start bg-white rounded-b-md border-2 border-fuchsia-100 text-fuchsia-900 focus-within:border-fuchsia-800 [&>*]:px-2 [&>*]:py-0.5 [&>*]:text-left focus-within:[&>*]:outline-none'
			},
			options: {}
		}}>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, reiciendis culpa facilis nesciunt harum assumenda, velit quidem, quas quasi quod excepturi dolorum. Eos fugiat obcaecati quae in, iste nobis fugit cumque quos vitae totam! A sunt corrupti blanditiis, sequi perferendis quos earum. Sit nihil provident dolor? Aspernatur dolorum eos fuga.</p>
		</Dropdown>
        <div class="flex items-center gap-3">
            <span slot="first" class="">My favorite color: </span>
            <Dropdown
                lock={true}
                id="custom-input"
                text="Choose your favorite color"
                value="option-1"
                options={{
                    'Blue': 'blue',
                    'Green': 'green',
                    'Yellow': 'yellow',
                    'Red': 'red',
                    'Purple': 'purple'
                }}
                theme={{
                    container: {
                        class: 'group flex items-center',
                    },
                    toggle: {
                        class: "relative flex items-center gap-1 px-2 pb-1 pt-0.5 rounded-md border-2 select-none leading-none whitespace-nowrap marker:content-none before:inline-block before:leading-none before:mt-1 before:font-mono before:font-bold before:text-md before:content-['🎨'] focus-visible:outline-none focus:border-sky-600 group-open:before:animate-spin"
                    },
                    content: {
                        class: 'z-10 overflow-hidden absolute flex flex-col justify-start w-max mt-1 bg-white rounded-md border-2 focus-within:border-sky-600 [&>*]:px-2 [&>*]:py-0.5 [&>*]:text-left focus-within:[&>*]:outline-none hover:[&>*]:bg-neutral-100 focus:[&>*]:bg-neutral-100'
                    },
                    options: {}
                }}
            >
            </Dropdown>
        </div>
		<Dropdown />
		<Dropdown />
		<Dropdown />
		<Dropdown />
		<Dropdown />
		<Dropdown />
		<Dropdown />
		<Dropdown />
	</body>
</html>
